body{
	background-color: white;
}
h1 {
	text-align: center;
	color: red;
	font-weight: bold;
}
p{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: black;
	font-weight: bold;
}

img{
	width:10%;
	height:10%;
	display:block;
}

